#virat { background-image: url(https://i.pinimg.com/originals/74/9f/2c/749f2cae28031060f881b9fd6cffdd24.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
color: rgb(6, 2, 7);
padding: 50px;
margin-top: 50px;
border: 2px solid black;
}

#kohli
{
   text-align: center;
   color: rgb(115, 16, 16);
}
.k
{
    text-align: center;
    color: rgb(32, 19, 91);
}